Repository bow-swift/bow, pull requests merged in 2019-09, with the labels that each got.

#432 Rename IO methods
  Sources/BowEffects/Data/IO.swift
Labels: enhancement

#433 Fix signature about `removeItem`
  Sources/BowEffects/Foundation/FileManager.swift
Labels: bug

#431 Add Monad comprehensions doc page
  contents/Documentation/Patterns.playground/Pages/Monad comprehensions.xcplaygroundpage/Contents.swift
  contents/Documentation/Patterns.playground/contents.xcplayground
Labels: documentation

#434 Effects usage documentation
  .travis.yml
  Bow.xcodeproj/project.pbxproj
  Sources/BowEffects/Data/Resource.swift
  contents/Documentation/Documentation.xcodeproj/xcshareddata/xcschemes/Documentation.xcscheme
  contents/Documentation/Documentation.xcworkspace/contents.xcworkspacedata
  contents/Documentation/Effects.playground/Pages/Concurrency.xcplaygroundpage/Contents.swift
  contents/Documentation/Effects.playground/Pages/Foundation extensions.xcplaygroundpage/Contents.swift
  contents/Documentation/Effects.playground/Pages/Handling errors.xcplaygroundpage/Contents.swift
  contents/Documentation/Effects.playground/Pages/Handling resources.xcplaygroundpage/Contents.swift
  contents/Documentation/Effects.playground/Pages/Manipulating side effects.xcplaygroundpage/Contents.swift
  contents/Documentation/Effects.playground/Pages/Overview.xcplaygroundpage/Contents.swift
  contents/Documentation/Effects.playground/Pages/Running side effects.xcplaygroundpage/Contents.swift
  contents/Documentation/Effects.playground/Pages/Suspending side effects.xcplaygroundpage/Contents.swift
  contents/Documentation/Effects.playground/contents.xcplayground
  contents/Documentation/Effects.playground/playground.xcworkspace/contents.xcworkspacedata
  contents/Documentation/Integrations.playground/Pages/RxSwift.xcplaygroundpage/Contents.swift
  contents/Documentation/Integrations.playground/contents.xcplayground
  contents/Documentation/Integrations.playground/playground.xcworkspace/contents.xcworkspacedata
  contents/Documentation/Patterns.playground/Pages/Monad comprehensions.xcplaygroundpage/Contents.swift
  contents/Documentation/Podfile.lock
Labels: documentation

#436 Add docs for RxSwift integration
  Sources/BowRx/SingleK.swift
  contents/Documentation/Integrations.playground/Pages/RxSwift streams.xcplaygroundpage/Contents.swift
  contents/Documentation/Integrations.playground/Pages/RxSwift.xcplaygroundpage/Contents.swift
Labels: documentation

#441 Set force parameter to checkouts between branches/tags
  scripts/gen-docs.rb
Labels: website
